.headerFixed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px #ccc;
  padding: 20px 40px;
  height: 80px;
  color: #ffffff;
  box-sizing: border-box;
  top: -100px;

  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}

.headerFixed .headerLimiter {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

.headerFixed-placeholder {
  height: 80px;
  display: none;
}

.headerFixed .headerLimiter h1 {
  float: left;
  font: normal 28px Cookie, Arial, Helvetica, sans-serif;
  line-height: 40px;
  margin: 0;
}

.headerFixed .headerLimiter h1 span {
  color: #5383d3;
}

.headerFixed .headerLimiter a {
  color: #ffffff;
  text-decoration: none;
}

.headerFixed .headerLimiter nav {
  font: 16px Arial, Helvetica, sans-serif;
  line-height: 40px;
  float: right;
}

.headerFixed .headerLimiter nav a {
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.9;
}


.headerFixed .headerLimiter nav a:hover {
  opacity: 1;
}

.headerFixed .headerLimiter nav a.selected {
  color: #608bd2;
  opacity: 1;
}

body.fixed .headerFixed {
  padding: 10px 40px;
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

body.fixed .headerFixed-placeholder {
  display: block;
}

body.fixed .headerFixed .headerLimiter h1 {
  font-size: 24px;
  line-height: 30px;
}

body.fixed .headerFixed .headerLimiter nav {
  line-height: 28px;
  font-size: 13px;
}

@media all and (max-width: 600px) {
  .headerFixed {
    padding: 20px 0;
    height: 75px;
  }

  .headerFixed .headerLimiter h1 {
    float: none;
    margin: -8px 0 10px;
    text-align: center;
    font-size: 24px;
    line-height: 1;
  }

  .headerFixed .headerLimiter nav {
    line-height: 1;
    float: none;
  }

  .headerFixed .headerLimiter nav a {
    font-size: 13px;
  }

  body.fixed .headerFixed {
    display: none;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 1500px;
}
